.grid-container {
    display: grid;
    overflow-y: scroll;
    gap: 1px 10px;
    grid-template-columns: 1fr;
    grid-template-areas: "name" "desc" "dueDate";
    margin-left: 20px;
    margin-right: 20px;

    .name { grid-area: name; }

    .desc { grid-area: desc; }

    .dueDate { grid-area: dueDate; }
  } 
.title {
    font-weight: bold;
}
