<div class="content">
    <pep-top-bar [inline]="false">
        <div header-start-content>
            <h2 class="title">{{ 'Edit to-do entry' | translate}}</h2>
        </div>
        <div  header-end-content>
            <pep-button [value]="'Back' | translate" (buttonClick)="backClicked()"></pep-button>
            <pep-button [value]="'Save' | translate" [styleType]="'strong'" (buttonClick)="saveClicked()"></pep-button>  
        </div>
    </pep-top-bar>
    <br/>
    <div *ngIf="!loading" class="form">
        <div class="grid-container">
            <div class="name">
                <pep-textbox [mandatory]="true" label="Name" [(value)]="obj.Name" [disabled]="false" [readonly]="false"> </pep-textbox>
            </div>
            <div class="desc">
                <pep-textbox [mandatory]="true" label="Description" [(value)]="obj.Description" [disabled]="false" [readonly]="false"></pep-textbox>
            </div>
            <div class="duedate">
                <pep-date label="Due date" [(value)]="obj.DueDate" [disabled]="false" [readonly]="false"></pep-date>
            </div>
        </div>     